.pheader{
    text-align: center;
    border-bottom: solid 1px grey;
}

.pheader ul{
    list-style: none;
    padding:0px;
}
.pheader ul li{
    display: inline-block;
    margin-right:20px;
}
.pheader ul li a{
    text-decoration: none;
    color: black;
}